.wrapper {
	padding: 30px 0px;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	& > h3 {
		text-align: center;
	}
}

.form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 100%;
	padding: 16px;
	border: 1px solid #ebebeb;
	border-radius: 28px;
	@media (min-width: 800px) {
		width: 750px;
	}
}
