.addButton {
	color: black;
	padding: 50px;
	border: 2px dashed #dedede;
}

.isDragging {
	color: #005aaa;
	background-color: #f6f6f6;

	& > small {
		color: #669ccc !important;
	}
}

.image {
	&Upload {
		&Wrapper {
			display: flex;
			flex-direction: column;
			gap: 20px;
			p {
				margin-bottom: 0;
			}
			& small {
				color: #7a7a7a;
			}
		}
	}

	&s {
		&Wrapper {
			overflow-x: scroll;
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
		&Item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;
			padding-left: 16px;
			& > img {
				width: 100%;
			}
			&Buttons {
				display: flex;
				gap: 15px;
			}
			&Title {
				margin-bottom: 0;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				flex-grow: 1;
			}
			&Icon {
				color: #005aaa;
			}
		}
	}
}
